@import "./parts/vars.scss";
@import "./parts/base.scss";
@import "./parts/navs.scss";
@import "./parts/typo.scss";
@import "./parts/bane.scss";
@import "./parts/page.scss";
@import "./parts/pane.scss";
@import "./sides/tocs.scss";



