
/* ========== BANNER ========== */
.banner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.banner {
    width: 100%;
    height: clamp(250px, 35vw, 370px);
    border-radius: 18px;
    overflow: hidden;
    background: #111;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.75);
}


/* ========== INFO ========== */
.info {
    display: flex;
    gap: clamp(30px, 5vw, 60px);
    align-items: center;
}

.info .label {
    font-size: clamp(11px, 1vw, 12px);
    opacity: 0.65;
    margin-bottom: 2px;
}

.info p {
    margin: 0;
    color: #F8F8FF;
    font-size: clamp(12px, 1.1vw, 14px);
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: clamp(32px, 3vw, 36px);
    height: clamp(32px, 3vw, 36px);
    border-radius: 10px;
}


/* ========== RESPONSIVE ========== */
@media (max-width: 768px) {

    .banner-wrapper {
        width: 95%;
    }

    .info {
        width: 100%;
        justify-content: space-between;
    }
    
}


@media (max-width: 480px) {
    
    .info {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
}