
/* ========== PANELS ========== */

.panel {
    display: flex;
    list-style: none;
    gap: clamp(12px, 1.5vw, 18px);
    margin-top: clamp(30px, 4vw, 1rem);
    margin-bottom: clamp(10px, 4vw, 0rem);

    a{
        color: #F8F8FF;
        text-decoration: none;
    }

    .item {
        display: flex;
        visibility: visible !important;
        align-items: center;
        gap: clamp(6px, 0.8vw, 8px);
        padding: clamp(12px, 1.5vw, 20px) clamp(8px, 1vw, 12px);
        text-decoration: none;
        font-size: clamp(13px, 1.1vw, 14px);
        color: #F8F8FF;
        transition: all 0.25s ease;
        border-radius: 8px;
        white-space: nowrap;
        cursor: pointer;
    }

    .item:hover .icon svg,
    .item.active .icon svg {
        stroke: #ff5f00;
    }

    .item span {
        transition: all 0.25s ease;
        opacity: 0.75;
    }

    .item:hover span,
    .item.active span {
        color: #ff5f00;
        opacity: 1;
    }

    .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: clamp(28px, 2.5vw, 32px);
        height: clamp(28px, 2.5vw, 32px);
        border: 2px solid #2D3444;
        border-radius: 8px;
        transition: all 0.25s ease;
        padding: 4px;
    }
}


/* ========== RESPONSIVE ========== */
@media (max-width: 768px) {

    .panel {
        flex-wrap: wrap;
        gap: 8px;

        .item {
            padding: 10px 8px;
        }
    }
}

@media (max-width: 480px) {

     .panel {

        .item span:not(.icon-wrapper) {
            display: none;
        }

        .item {
            padding: 10px;
        }
    }
}