/* ========== TYPOGRAPHY ========== */
h2 {
    font-size: clamp(18px, 2vw, 20px);
    font-weight: 600;
    margin-bottom: clamp(15px, 2vw, 20px);
    color: #ff4500;
}

h3 {
    font-size: clamp(16px, 1.8vw, 20px);
    font-weight: 600;
    margin-bottom: clamp(15px, 2vw, 20px);
}

h3 span {
    font-weight: 400;
}

h4 {
    font-size: clamp(14px, 1.4vw, 16px);
    font-weight: 600;
    margin-bottom: clamp(10px, 1.2vw, 12px);
    color: #ff4500;
}

h4 span {
    font-weight: 400;
    color: #F8F8FF;
}

p {
    font-size: clamp(13px, 1.2vw, 14px);
    line-height: 1.7;
    color: #F8F8FF;
}

span {
    color: #F8F8FF;
}

/* ========== OVERRIDE ========== */


h1 {
    font-weight: 600; 
    line-height: 1.3; 
    font-size: unquote("clamp(1rem, 1.5vw + 1em, 1.5em)");  
}

h2 {
    font-weight: 600;
    line-height: 1.3;
    font-size: unquote("clamp(1rem, 1.4vw + 1em, 1.4em)"); 
}

h3 {
    font-weight: 600;
    line-height: 1.3;
    font-size: unquote("clamp(1rem, 1.4vw + 1em, 1.3em)");
}

h4 {
    font-weight: 600;
    line-height: 1.3;
    font-size: unquote("clamp(1rem, 1.4vw + 1em, 1.275em)");
}

h5 {
    font-weight: 600;
    line-height: 1.3;
    font-size: unquote("clamp(1rem, 1.4vw + 1em, 1.197em)"); 
}

h6 {
    line-height: 1.3;
    font-weight: 600;
    color: var(--white6-color);
    font-size: unquote("clamp(1rem, 1.4vw + 1em, 1.197em)"); 
}

h1, h2, h3, h4, h5, h6 {
    hyphens: auto; 
    margin-top: 1.5em;
    word-break: break-word;
}

p {
    width: 100%; 
    text-wrap: wrap;
    margin-block: 0.5lh; 
}